$def with (header,footer)
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>HA Server</title>
<link rel="stylesheet" href="static/main.css" />
<link rel="stylesheet" href="static/jquery-ui-1.10.3.custom.css" />
<link rel="stylesheet" href="static/jquery.data.tables.css" />
<script src="static/jquery-2.0.3.min.js"></script>
<script src="static/jquery.validate.min.js"></script>
<script src="static/jquery.form.min.js"></script>
<script src="static/jquery-ui-1.10.3.custom.min.js"></script>
<script src="static/jquery.data.tables.js"></script>
<script src="static/jquery.jeditable.js"></script>
<script src="static/jquery.sparkline.js"></script>
<script>
	$$.fn.preload = function() {
    		this.each(function(){
        		$$('<img/>')[0].src = this;
    		});
	}
	function progressHandlingFunction(e){
		if(e.lengthComputable){
			$$('#progressbar').progressbar({
      				value: e.loaded, max:e.total
    			});
		}
	}
	function disableUpload() {
		$$('.ui-dialog-buttonset button', $$('#firmware-dialog').parent()).button('disable');
		$$('#firmware-form :input').attr("disabled", "true");
	}
	function enableUpload() {
		$$('#firmware-form :input').removeAttr("disabled");
		$$('.ui-dialog-buttonset button', $$('#firmware-dialog').parent()).button('enable');
	}
	function clearUpload() {
		// Just clear errors without resetting form!
		$$('#firmware-form label.error').hide();
		$$('#firmware-form .error').removeClass('error');
		$$('#upload-msg').html('');		
		enableUpload();
	}
	function disableDiscover() {
		$$('.ui-dialog-buttonset button', $$('#discover-dialog').parent()).button('disable');
		$$('#discover-loading').show();
	}
	function enableDiscover() {
		$$('.ui-dialog-buttonset button', $$('#discover-dialog').parent()).button('enable');
		$$('#discover-loading').hide();
	}
	function clearDiscover() {
		// Just clear errors without resetting form!
		$$('#discover-msg').html('');
		enableDiscover();
	}

	function railsValue(idx) {
		if (idx == 1)
			return '5V';
		if (idx == 2)
			return '12V';
		if (idx == 4)
			return '220V';
		if (idx == 1+2)
			return '5V/12V';
		if (idx == 1+4)
			return '5V/220V';
		if (idx == 1+2+4)
			return '5V/12V/220V';
		return idx;
	}

	var after = [0,0,0];
	var interval = 1500;
	var steps = 227;
	var oTable;

	var updateTable = function() {
				/* Apply the jEditable handlers to the table */
				$$('td', oTable.fnGetNodes()).not("[class*='readonly']").editable( 'rest/devices', {
					"callback": function( sValue, y ) {
						var aPos = oTable.fnGetPosition( this );
						oTable.fnUpdate( sValue, aPos[0], aPos[1] );
					},
					"submitdata": function ( value, settings ) {
						return {
							"row_id": $$(this).parent().children(":first").text(),
							"column": oTable.fnGetPosition( this )[2]
						};
					},
					"height": "20px"
				});
				$$('.readonly-rails', oTable.fnGetNodes()).editable( 'rest/devices', {
					"type"   : 'select',
					"data"   : "{'1':'5V','2':'12V','4':'220V','3':'5V/12V','5':'5V/220V','7':'5V/12V/220V'}",
					"callback": function( sValue, y ) {
						var aPos = oTable.fnGetPosition( this );
						oTable.fnUpdate( railsValue(sValue), aPos[0], aPos[1] );
					},
					"submitdata": function ( value, settings ) {
						return {
							"row_id": $$(this).parent().children(":first").text(),
							"column": oTable.fnGetPosition( this )[2]
						};
					},
					"height": "20px"
				});



				$$(".action").each(function() {
					// Get device status
					var trow = $$(this).parent().parent();
					var action = $$(this)
					$$.ajax({
						url: 'rest/device?addr='+parseInt($$('td:eq(3)', trow).text(), 16),
						success: function(data) {
							if(data.status) {
								action.html('<a href="#"><img class="icon bootloader-active" height="32" width="32" src="static/images/bl-active-icon.png" /></a>');
							} else {
								action.html('<a href="#"><img class="icon bootloader-inactive" height="32" width="32" src="static/images/bl-inactive-icon.png" /></a>');
							}
							$$('.bootloader-active', trow).click(function() {
								var uploadAjax;
								$$('#firmware-form').validate().resetForm();
								clearUpload();
								$$('#firmware-form .upload-addr').val(parseInt($$('td:eq(3)', trow).text(), 16));
								$$('#firmware').val('');
								$$('#firmware-dialog').dialog({
									width:'600px',
									modal: true,
									buttons: {
										Upload: function() {
											var dialog = $$(this);
											var form = $$("#firmware-form");
											if($$("#firmware-form").valid()) {
												var formData = new FormData(form[0]);
												disableUpload();
												uploadAjax = $$.ajax({
													type: "POST",
													url: form.attr( 'action' ),
													data: formData,
													xhr: function() {  // Custom XMLHttpRequest
            													var myXhr = $$.ajaxSettings.xhr();
            													if(myXhr.upload){ // Check if upload property exists
                													myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
            													}
            													return myXhr;
        												},
													success: function( response ) {
														$$('#progressbar').progressbar({
      															value:1, max:1
    														});
														dialog.dialog( "close" );
														updateTable();
													},
													error: function( response ) {
														$$('#progressbar').progressbar({
      															value:0
    														});
														$$('#upload-msg').html(response.statusText).addClass('error');
														enableUpload();
													},
												       //Options to tell jQuery not to process data or worry about content-type.
												       cache: false,
        												contentType: false,
       												processData: false
												});
											}
										}
									},
									close: function() {
										if (uploadAjax){
											uploadAjax.abort();
										}
									}
								});
							});
							$$('.bootloader-inactive', trow).click(function() {
								var discoverAjax;
								clearDiscover();
								$$('#discover-dialog').dialog({
									width:'600px',
									modal: true,
									buttons: {
										'Enter Bootloader': function() {
											var dialog = $$(this);
											disableDiscover();
											discoverAjax = $$.ajax({
												method: 'POST',
												url: 'rest/device',
												data: 'discover_addr='+parseInt($$('td:eq(3)', trow).text(), 16),
												success: function(response) {
													enableDiscover();
													dialog.dialog( "close" );
													updateTable();
												},
												error: function(response) {
													enableDiscover();
													$$('#discover-msg').html(response.statusText).addClass('error');
												}
											});
										}
									},
									close: function() {
										if (discoverAjax){
											discoverAjax.abort();
										}
									}
								});
							});
							action.show();
						},
						error: function() {
                					//try again
                					$$.ajax(this);
						}
					});
				});
    			};

	$$(document).ready(function() {
		$$([	'static/images/ajax-loader.gif',
			'static/images/bl-active-icon.png',
			'static/images/bl-inactive-icon.png']).preload();
		$$('#progressbar').progressbar({
      			value: 0
    		});
		$$('#firmware-form').validate();
		$$('#firmware').change(function(){
			clearUpload();
		});

		oTable = $$('#devices').dataTable( {
			"bJQueryUI": true,
			"bProcessing": false,
			"sAjaxSource": 'rest/devices',
			"sAjaxDataProp": 'devices',
			"iDisplayLength": 100,
			"aoColumnDefs": [
				{
					"sClass": "readonly",
					"aTargets": [ 0,4]
				},
				{
					"sClass": "readonly-rails",
					"aTargets": [1]
				},
				{
					"fnRender": function ( oObj ) {
						return railsValue(oObj.aData[1]);
					},
					"aTargets": [ 1 ]
				},
				{
					"fnRender": function ( oObj ) {
						return '0x'+oObj.aData[3].toString(16).toUpperCase();
					},
					"aTargets": [ 3 ]
				},
				{
					"fnRender": function ( oObj ) {
						return '<span class=\'action\'><img class="icon" height="32" width="32" src="static/images/ajax-loader.gif" /></span>';
					},
					"mData": null,
					"aTargets": [ 4 ]
				}
			],
			"fnInitComplete": function(oSettings, json) {
				updateTable();
			}
		});
		var addButtons5V = true;
		var addButtons12V = true;
		var addButtons220V = true;

		var updateRails = function() {
			var time = new Date();
			var timevals = []
			var decr = Math.round(interval/steps);
			for(var i = steps; i >= 0; i--) {
				timevals[i] = time;
				time.setSeconds(time.getSeconds() - decr);
			}
			$$.ajax({
				method: 'GET',
				url: 'rest/bus?bus=1&interval='+interval+'&steps='+steps+'&after='+after[0],
				success: function(data) {
					if(data.history && data.history.length) {
						after[0] = data.after;
    						$$('.bus-history5V').sparkline(timevals, {height: '1.3em', type: 'bar', barSpacing: 0, barWidth: 3, barColor: 'white', tooltipPrefix: 'Time: '});
    						$$('.bus-history5V').sparkline(data.history, {composite: true, chartRangeMin: 0, chartRangeMax: 1, height: '1.3em', fillColor:false, lineColor:'black', tooltipPrefix: 'Value: '});
					} else if(after[0] == 0) {
						$$('.bus-history5V').html('<span>no data</span>');
					}
					if(addButtons5V) {
						var toggleBtn = $$('.bus-history-toggle5V').button({
						        icons: { primary: "ui-icon-arrowrefresh-1-e" },
        						 text: false
    						}).click(function (){
							toggleBtn.button('disable');
							toggleBtn.button('option', {text: false, 'icons':{ primary: 'spinner16' }} );
							$$.ajax({
								method: 'POST',
								url: 'rest/bus',
								data: 'toggle_bus=1',
								success: function(response) {
									toggleBtn.button('enable');
									toggleBtn.button('option', {text: false, 'icons':{ primary: 'ui-icon-arrowrefresh-1-e' }} );
								},
								error: function(response) {
									toggleBtn.button('enable');
									toggleBtn.button('option', {text: false, 'icons':{ primary: 'ui-icon-arrowrefresh-1-e' }} );
									window.alert(response.statusText);
								}
							});
						});
					}
					addButtons5V = false
				},
				error: function() {
                			//try again
                			$$.ajax(this);
				}
			});
			$$.ajax({
				method: 'GET',
				url: 'rest/bus?bus=2&interval='+interval+'&steps='+steps+'&after='+after[1],
				success: function(data) {
					if(data.history && data.history.length) {
						after[1] = data.after;
    						$$('.bus-history12V').sparkline(timevals, {height: '1.3em', type: 'bar', barSpacing: 0, barWidth: 3, barColor: 'white', tooltipPrefix: 'Time: '});
    						$$('.bus-history12V').sparkline(data.history, {composite: true, chartRangeMin: 0, chartRangeMax: 1, height: '1.3em', fillColor:false, lineColor:'black', tooltipPrefix: 'Value: '});
					} else if(after[1] == 0){
						$$('.bus-history12V').html('<span>no data</span>');
					}
					if(addButtons12V) {
						var toggleBtn = $$('.bus-history-toggle12V').button({
						        icons: { primary: "ui-icon-arrowrefresh-1-e" },
    	  	  					 text: false
    						}).click(function (){
							toggleBtn.button('disable');
							toggleBtn.button('option', {text: false, 'icons':{ primary: 'spinner16' }} );
							$$.ajax({
								method: 'POST',
								url: 'rest/bus',
								data: 'toggle_bus=2',
								success: function(response) {
									toggleBtn.button('enable');
									toggleBtn.button('option', {text: false, 'icons':{ primary: 'ui-icon-arrowrefresh-1-e' }} );
								},
								error: function(response) {
									toggleBtn.button('enable');
									toggleBtn.button('option', {text: false, 'icons':{ primary: 'ui-icon-arrowrefresh-1-e' }} );
									window.alert(response.statusText);
								}
							});
						});
					}
					addButtons12V = false
				},
				error: function() {
             	   			//try again
                			$$.ajax(this);
				}
			});
			$$.ajax({
				method: 'GET',
				url: 'rest/bus?bus=3&interval='+interval+'&steps='+steps+'&after='+after[2],
				success: function(data) {
					if(data.history && data.history.length) {
						after[2] = data.after;
    						$$('.bus-history220V').sparkline(timevals, {height: '1.3em', type: 'bar', barSpacing: 0, barWidth: 3, barColor: 'white', tooltipPrefix: 'Time: '});
    						$$('.bus-history220V').sparkline(data.history, {composite: true, chartRangeMin: 0, chartRangeMax: 1, height: '1.3em', fillColor:false, lineColor:'black', tooltipPrefix: 'Value: '});
					} else if(after[2] == 0){
						$$('.bus-history220V').html('<span>no data</span>');
					}
					if(addButtons220V) {
						var toggleBtn = $$('.bus-history-toggle220V').button({
						        icons: { primary: "ui-icon-arrowrefresh-1-e" },
      		  					 text: false
    						}).click(function (){
							toggleBtn.button('disable');
							toggleBtn.button('option', {text: false, 'icons':{ primary: 'spinner16' }} );
							$$.ajax({
								method: 'POST',
								url: 'rest/bus',
								data: 'toggle_bus=3',
								success: function(response) {
									toggleBtn.button('enable');
									toggleBtn.button('option', {text: false, 'icons':{ primary: 'ui-icon-arrowrefresh-1-e' }} );
								},
								error: function(response) {
									toggleBtn.button('enable');
									toggleBtn.button('option', {text: false, 'icons':{ primary: 'ui-icon-arrowrefresh-1-e' }} );
									window.alert(response.statusText);
								}
							});
						});
					}
					addButtons220V = true
				},
				error: function() {
             		   		//try again
             		   		$$.ajax(this);
				}
			});
			setTimeout(updateRails, 5000);
		}
		setTimeout(updateRails, 1000);
	} );
</script>
</head>
<body id="index" class="home">
$:header

<aside id="featured" class="body"><article>
	<hgroup>
		<h2>Rails</h2>
		<div style="position:relative;"><span>5V</span><span style="position:absolute;left:40px;top:0px;" class="bus-history5V"><img height="16" width="16" src="static/images/ajax-loader16.gif" /></span><span style="float:right;top:2px;" class="bus-history-toggle5V" /></div>
		<div style="position:relative;"><span>12V</span><span style="position:absolute;left:40px;top:0px;" class="bus-history12V"><img height="16" width="16" src="static/images/ajax-loader16.gif" /></span><span style="float:right;top:2px;" class="bus-history-toggle12V" /></div>
		<div style="position:relative;"><span>220V</span><span style="position:absolute;left:40px;top:0px;" class="bus-history220V"><img height="16" width="16" src="static/images/ajax-loader16.gif" /></span><span style="float:right;top:2px;" class="bus-history-toggle220V" /></div>
	</hgroup>
	<br />
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="devices">
	<thead>
		<tr>
		<th width="5%">ID</th>
		<th width="10%">Rail</th>
		<th width="60%">Device Name</th>
		<th width="10%">Address</th>
		<th width="15%">Actions</th>
		</tr>
	</thead>
	<tbody></tbody>
	</table>
</article></aside><!-- /#featured -->
$:footer
<div style="display:none" id="firmware-dialog" title="Firmware Upload">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
	Please select a firmware in .hex format to upload to device
  </p>
  <form id="firmware-form" method="POST" action="rest/device" enctype="multipart/form-data">
	<input type="hidden" class="upload-addr" name="addr" value="" />
	<input type="file" name="firmware" id="firmware" required />
  </form>
  <div style="left: 0px; right:0px;text-align:center; margin-top:5px;" id="upload-msg"></div>
  <p>
  <div id="progressbar"></div>
  </p>
</div>
<div style="display:none" id="discover-dialog" title="Switch device to Bootloader mode?">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
	Switching device to bootloader mode will require +5V rails to go off and on for 5 seconds, are you shure?
  </p>
  <div style="left: 0px; right:0px;text-align:center; margin-top:5px; display:none;" id="discover-loading"><img height="32" width="32" src="static/images/ajax-loader.gif" /></div>
  <div style="left: 0px; right:0px;text-align:center; margin-top:5px;" id="discover-msg"></div>
  <p>
  </p>
</div>
</body>
</html>
